@model InsightsaddinWebApp.Models.PartnerAccount

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pbe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pbe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Crm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngagementType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EngagementType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meeting)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Industry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Industry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloudStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CloudStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloudProvider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CloudProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Consumption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkLoads)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkLoads)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { crm = Model.Crm }) |
    @Html.ActionLink("Back to List", "Index")
</p>
