@model IEnumerable<InsightsaddinWebApp.Models.PartnerAccount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pbe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Crm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngagementType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meeting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Industry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CloudStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CloudProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consumption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkLoads)
        </th>
        <th></th>
    </tr>

@foreach (var partnerAccount in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelPartnerAccount => partnerAccount.Pbe)
        </td>
        <td>
            @Html.DisplayFor(modelPartnerAccount => partnerAccount.Website)
        </td>
        <td>
            @Html.DisplayFor(modelPartnerAccount => partnerAccount.Crm)
        </td>
        <td>
            @Html.DisplayFor(modelPartnerAccount => partnerAccount.Stage)
        </td>
        <td>
            @Html.DisplayFor(modelPartnerAccount => partnerAccount.EngagementType)
        </td>
        <td>
            @Html.DisplayFor(modelPartnerAccount => partnerAccount.Date)
        </td>
        <td>
            @Html.DisplayFor(modelPartnerAccount => partnerAccount.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelPartnerAccount => partnerAccount.Location)
        </td>
        <td>
            @Html.DisplayFor(modelPartnerAccount => partnerAccount.Meeting)
        </td>
        <td>
            @Html.DisplayFor(modelPartnerAccount => partnerAccount.Industry)
        </td>
        <td>
            @Html.DisplayFor(modelPartnerAccount => partnerAccount.CloudStatus)
        </td>
        <td>
            @Html.DisplayFor(modelPartnerAccount => partnerAccount.CloudProvider)
        </td>
        <td>
            @Html.DisplayFor(modelPartnerAccount => partnerAccount.Consumption)
        </td>
        <td>
            @Html.DisplayFor(modelPartnerAccount => partnerAccount.WorkLoads)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { crm = partnerAccount.Crm}) |
            @Html.ActionLink("Details", "Details", new { crm = partnerAccount.Crm})    
        </td>
    </tr>
}

</table>
